.container{
    min-height: 100vh;
    width: 80%;
    max-width: 360px
}
.card{
    display: flex;
    align-items: flex-start;
}
.item{
    padding-bottom: 1rem;
}
.item.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.item label{
    padding-right: 1.5rem;
}
.card .back button{
    background-color: blue;
}