*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #202142;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    border: none;
    margin: 10px;
    padding: 15px 3rem;
}
.changeCounter{
    cursor: pointer;
    padding: 15px 6rem;
}
.minus{
    background-color: palevioletred;
}
.plus{
    background-color: palegreen;
}
@media (max-width:565px) {
    .container div{
        display: flex;
        flex-direction: column;
    }
}